admins= # will only respond to commands executed by these users, seperated by comma
adminAPIKey= # your secret api key to access the admin api, can be any string, used in api request to admin endpoints
username= # bot username (can be justinfan123123 if you don't want to use an account)
oauthtokenforchat= # bot token can be anything if justinfan123123
botVerified= # increase ratelimits if you have a verified bot, so the bot can join faster, false by default
mytwitchclientid= # your client ID, needed for fetching userids or usernames etc
myscretclientid= # your twitch client secret
channels= # the channels (userids) you want to log
logLevel= # the log level, keep this to info probably, all options are: trace, debug, info, warn, error, fatal, and panic, logs output is stdout